.button {
  padding: 0 2rem;

  height: 50px;

  border-radius: 8px;
  font-weight: 500;

  background: #835afd;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;

  transform: scale(0.95);
  transition: 0.2s;

  img {
    margin-right: 0.5rem;
  }

  &.outlined {
    background: #fff;
    border: 1px solid #835afd;
    color: #835afd;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
    transform: scale(1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
